.page_wrap
  .grid
    .col.col-12
      %h3.text_center
        17 JULIO / GUATEMALA
  .grid
    .col.col-12
      = image_tag("utopia_1.jpg", class: "margin_center")
  .grid
    .col.col-12.text_center
      .text_utopia
        %h1 Luisa Frutas
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis purus purus, ultricies in posuere in, eleifend quis sapien. Proin iaculis sem eget fermentum iaculis. Donec vitae arcu non lectus interdum viverra. Donec facilisis, lorem ac volutpat molestie, nulla odio vestibulum mi, faucibus laoreet ipsum dui eget massa. Quisque fringilla consequat condimentum. Sed placerat nisi ultrices, vulputate libero eget, venenatis nibh. Maecenas nec aliquam risus, quis convallis elit.
          Nam at neque in lorem molestie vestibulum. Nulla dapibus rutrum ultrices. Aenean vitae luctus sem, id volutpat tortor. Cras et metus dui. Mauris vestibulum volutpat nulla in faucibus. Sed sed volutpat dui. Aliquam fringilla rutrum mi sed fermentum. Morbi consequat dui ligula, eget interdum nisi dictum ut. Vestibulum fermentum velit in lectus lobortis venenatis.
        %p
          Praesent non diam nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla vitae fringilla odio, vel gravida ante. Vestibulum non augue et dolor luctus lacinia at et nisl. Integer sit amet augue augue. Vestibulum blandit aliquam ante, sed egestas dui eleifend ac. Sed vel sodales neque. Donec tellus magna, mattis sed varius in, sollicitudin eu est. Nulla malesuada tempus lectus, quis malesuada mauris ornare fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          Donec euismod tellus at mi vestibulum, sit amet venenatis elit pretium. Morbi volutpat semper elementum. Sed pharetra felis nec orci mollis, ac egestas ante posuere. Mauris egestas purus vel eleifend porta. Vivamus ut faucibus tellus, at congue tortor. Nullam sit amet cursus arcu. Nunc vel adipiscing risus, ac scelerisque est. Donec tincidunt enim non felis accumsan, in placerat enim suscipit. Pellentesque adipiscing elementum diam, vitae ullamcorper enim rhoncus et. Suspendisse potenti. Morbi dictum pellentesque felis et ornare.
          Integer quis ultrices enim. Nunc quis ligula eu elit iaculis mattis. Sed eget euismod justo. Proin sit amet dolor metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed vitae cursus felis, eu egestas mauris. Nam placerat diam quis quam fringilla, vitae blandit tortor laoreet. Integer facilisis, risus sed condimentum sagittis, mauris sapien tristique risus, et dapibus tortor nunc ac massa. Duis at ullamcorper felis. Suspendisse feugiat id lectus nec posuere. Aenean blandit gravida libero, at mattis augue suscipit ac. Vestibulum sed neque commodo est eleifend scelerisque. Donec nec odio convallis, elementum velit congue, egestas velit.
