.page_wrap
  .grid.no_margin
    .col.col-8
      = image_tag("utopia_1.jpg")
    .col.col-4
      .meta
        .data.text_center
          %p 17 Junio
          %h1 See You
          %p Lorem ipsum...
  .grid.no_margin
    .col.col-4
      .meta
        .data.text_center
          %p 17 Junio
          %h1 See You
          %p Lorem ipsum...
    .col.col-8
      = image_tag("Untitled-2.jpg")
  .grid.no_margin
    .col.col-8
      = image_tag("Untitled-3.jpg")
    .col.col-4
      .meta
        .data.text_center
          %p 17 Junio
          %h1 See You
          %p Lorem ipsum...
