.info_form
  padding: 20px
  font-size: 2rem
  width: 400px
#form
  font-size: 2rem
  margin: 20px auto
  form
    width: 1100px
  label
    text-transform: uppercase
  input[type=text], textarea, input[type=password]
    width: 100%
    padding: 5px
    font-size: 1.5rem
  textarea
    width: 870px
    height: 250px
  select
    width: 60%



  .image_show_form
    display: inline-block
    margin-bottom: 20px
    margin-right: 20px
