//Imports
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,900,100)

// Variables
$num-col: 12
$gutter: 20px

// Help clasess
.text_center
  text-align: center !important
.margin_center
  margin: 0 auto
.float_right
  float: right !important
.float_left
  float: left !important
.clearfix:after
  content: ""
  display: table
  clear: both
.notify
  background: rgba(217,237,247,1)
  border: 1px solid rgba(188,232,241,1)
.read_more
  border: 1px solid rgba(133,135,139,1)
  color: rgba(43,43,43,1)
  display: inline-block
  margin-top: 30px
  padding: 10px 12px
  text-transform: uppercase
  text-decoration: none
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(50, 50, 50, 0.3)
  -moz-box-shadow:    inset 0px 0px 1px 1px rgba(50, 50, 50, 0.3)
  box-shadow:         inset 0px 0px 1px 1px rgba(50, 50, 50, 0.3)


// Universal Rules
*
  -moz-box-sizing:    border-box
  -webkit-box-sizing: border-box
  box-sizing:        border-box
input, textarea
  outline: none
img
  max-width: 100%
  display: block
ul
  padding: 0 !important  


// Grid
html
  font-size: 62.5%
  font-family: 'Roboto', sans-serif

  .page_wrap
    width: 80%
    margin: 0 auto
  .grid
    margin-bottom: $gutter
    &.no_margin
      margin: 0
    &:after
      content: ""
      display: table
      clear: both
    .col
      float: left
      padding-right: $gutter
      height: 100%

    .col-1
      width: ((100%/$num-col) * 1)
    .col-2
      width: ((100%/$num-col) * 2)
    .col-3
      width: ((100%/$num-col) * 3)
    .col-4
      width: ((100%/$num-col) * 4)
    .col-5
      width: ((100%/$num-col) * 5)
    .col-6
      width: (100% / 2)
    .col-7
      width: ((100%/$num-col) * 7)
    .col-8
      width: ((100%/$num-col) * 8)
    .col-9
      width: ((100%/$num-col) * 9)
    .col-10
      width: ((100%/$num-col) * 10)
    .col-11
      width: ((100%/$num-col) * 11)
    .col-12
      width: 100%
