.meta_utopia_index
  height: 100%
  width: 100%
  display: table
  .data
    display: table-cell
    height: 400px
    vertical-align: middle
    font-family: 'Libre Baskerville', serif


    p
      font-weight: 100
      font-size: 1.5rem
      font-style: italic
      margin-bottom: 50px

    h1
      font-size: 5.3rem
      letter-spacing: 0.5rem
      font-weight: 100

.meta
  margin-top: 50px
  text-transform: uppercase
  font-weight: 300
  letter-spacing: .5rem
.text_utopia
  margin: 40px 0
  font-family: 'Libre Baskerville', serif
  h1
    margin: 40px 0
    font-size: 7rem
    font-weight: 100
  p
    width: 730px
    margin: 25px auto
    font-size: 1.5rem
    font-style: italic
    line-height: 3rem
.smaller_width
  width: 439px
  margin-right: -2px
